@{
    ViewData["Title"] = "Application Info";
    var app = ViewData["App"] as Application;
    var student = ViewData["Student"] as Student;
}

<div class="container d-flex justify-content-start py-5">
    <div class="w-50 m-auto bg-white ">
        <h2 class="text-center mb-4">Application</h2>
        <div class="card p-3 shadow">
            <div class="mb-2">
                <label class="form-label">First Name:</label>
                <span id="FirstName">@student.FirstName</span>
            </div>

            <div class="mb-2">
                <label class="form-label">Middle Name:</label>
                <span id="MiddleName">@student.MiddleName</span>
            </div>

            <div class="mb-2">
                <label class="form-label">Last Name:</label>
                <span id="LastName">@student.LastName</span>
            </div>

            <div class="mb-2">
                <label class="form-label">SSN:</label>
                <span id="SSN">@student.SSN</span>
            </div>

            <div class="mb-2">
                <label class="form-label">Mobile Phone:</label>
                <span id="MobilePhone">@student.MobilePhone</span>
            </div>

            <div class="mb-2">
                <label class="form-label">Home Phone:</label>
                <span id="HomePhone">@student.HomePhone</span>
            </div>

            <div class="mb-2">
                <label class="form-label">High School Grade:</label>
                <span id="HighSchoolGrade">@student.HighSchoolGrade</span>
            </div>

            <div class="mb-2">
                <label class="form-label">Address:</label>
                <span id="Address">@student.Address</span>
            </div>

            <div class="mb-2">
                <label class="form-label">Choosen College:</label>
                <span id="College">@student.College.Name</span>
            </div>

            <div class="mb-2">
                <label class="form-label">Date of Birth:</label>
                <span id="Birth">@student.BirthDate</span>
            </div>

            <div>
                <label class="form-label">Gender:</label>
                <span id="Gender">@student.Gender</span>
            </div>

            <div class="d-flex justify-content-around align-items-center">
                <a class="btn btn-success" asp-controller="StudentAffairs" asp-action="ApproveApplication" asp-route-id="@app.Id">Approve</a>
                <a class="btn btn-danger" asp-controller="StudentAffairs" asp-action="RejectApplication" asp-route-id="@app.Id">Reject</a>
            </div>
        </div>
    </div>
</div>

