@{
    ViewData["Title"] = "Petition Request Details";
    var req = ViewData["PetitionRequest"] as PetitionRequest;
    var courses = ViewData["PetitionCourses"] as IEnumerable<PetitionCourse>;
}
<div class="container">
<div class="back-button position-absolute">
    <a class="text-primary m-3 d-block" asp-action="Requests" asp-controller="Advisor"><i class="fa-2x fa-solid fa-arrow-left"></i></a>
</div>
</div>
<div id="searchResults">
<div class="petition-request container p-3 border w-75" id="report">
    <img src="~/images/Mti(Gray).png" alt="" class="img-fluid d-block mx-auto py-2" style="width: 150px;">

    <div class="text-center fw-bold fs-5 text-decoration-underline">
        <p>Admission and Registration Department</p>
        <p>Petition</p>
        <p>To ensure that there are no material errors in monitoring</p>
    </div>

    <form method="post">
        <div class="form-group">
            <div class="d-flex justify-content-start align-items-center gap-2">
                <label class="w-25">Mr. Professor Dr /</label>
                <span>@req.Dean.FirstName @req.Dean.MiddleName @req.Dean.LastName </span>
            </div>
            <div class="d-flex justify-content-start align-items-center gap-2">
                <label class="w-25">Dean of the college</label>
                <span> @req.College.Name </span>
            </div>
        </div>

        <p class="fw-bold m-3 fs-5">Introduction to you</p>

        <div class="form-group">
            <div class="d-flex justify-content-start align-items-center gap-2">
                <label class="w-25">Student Name</label>
                <span> @req.StudentName </span>
            </div>
            <div class="d-flex justify-content-start align-items-center gap-2">
                <label class="w-25">Registration number</label>
                <span> @req.RegistrationNumber </span>
            </div>
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-start align-items-center gap-2">
                <label class="w-25">Semester</label>
                <span> @req.Semester </span>
            </div>
            <div class="d-flex justify-content-start align-items-center gap-2">
                <label class="w-25">Department</label>
                <span> @req.Department.Name </span>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Materials to be reviewed</label>
            <ul class="list-group">
                @foreach(var course in courses) {
                    @if(course is not null) {
                    <li class="list-group-item"> @course.Course.Name </li>
                    }else {
                        <p>No Courses!</p>
                    }
                }
               
            </ul>
        </div>

        <p class="text-center fw-bold fs-5 text-decoration-underline">Best regards....</p>

        <div class="signature">
            <div class="d-flex justify-content-start align-items-center gap-2">
                <label>Signature</label>
                <span>@req.StudentName </span>
            </div>
            <div class="d-flex justify-content-start align-items-center gap-2">
                <label>Name</label>
                <span>@req.StudentName</span>
            </div>
            <div class="d-flex justify-content-start align-items-center gap-2">
                <label>Date</label>
                <span> @req.Date </span>
            </div>
        </div>

        <div class="card p-3 mt-4">
            <div class="form-group">
                <div class="border-top pt-3 mt-3">
                    <div class="d-flex justify-content-around">
                        <div class="">
                            <label class="form-label">Number of courses petitioned</label><br>
                            <span> @req.NumberOfCourses </span>
                        </div>
                        <div class="">
                            <label class="form-label">Amount paid</label><br>
                            <span> @req.AmountPaid L.E </span>
                        </div>
                        <div class="">
                            <label class="form-label">Payment date</label><br>
                            <span> @req.PaymentDate </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <a class="my-3 text-center btn btn-sm btn-primary" asp-action="ResultPetition" asp-controller="Advisor" asp-route-id="@req.Id">Result</a>
    <button class="btn btn-sm btn-primary" onclick="printContainer()" type="button">Print</button>
</div>
</div>
@section Scripts {
    <script src="~/js/print.js"></script>
}