@{
    ViewData["Title"] = "Instructor Schedule";
    var schedule = ViewData["Schedule"] as IEnumerable<InstructorSchedule>;
}

<div class="container mt-4 doctor-schedule schedule-s" id="searchResults">
    <div class="table-container">  
          <div class="header-section">  
              <div>  
                  <h5>Ministry of Higher Education</h5>  
                  <h6>Modern University for Technology and Information</h6>  
                  <h6>Faculty of Computers and Artificial Intelligence</h6>
                <p class="p-0 fs-5 fw-bold semester">Semester : @schedule?.FirstOrDefault().Semester @schedule?.FirstOrDefault().AcademicYear</p>
            </div>  
              <div>  
                  <img src="~/images/Mti(Gray).png" alt="MTI Logo" width="150">  
              </div>  
          </div>  
          <h5 class="text-center">Instructor Timetable</h5>
        <p><strong>Instructor:</strong> @schedule?.FirstOrDefault().Instructor.FirstName @schedule?.FirstOrDefault().Instructor.MiddleName @schedule?.FirstOrDefault().Instructor.LastName</p>
        <table class="table table-bordered text-center">  
              <thead class="table-dark">  
                  <tr>  
                     <th>Day</th>
                     <th>Course Code</th>
                     <th>Course Name</th>
                     <th>Place</th>
                     <th>Type</th>
  					 <th>Time</th> 
                   
                  </tr>  
              </thead>  
              <tbody>  
               @foreach(var day in schedule){
                    <tr>
                        <td>@day.Day</td>
                        <td>@day.CourseCode</td>
                        <td>@day.Course?.Name</td>
                        <td>@day.Place?.Name</td>
                        <td>@day.Place?.Type</td>
                        <td>@day.TimeBegin.ToString(@"hh\:mm") - @day.TimeEnd.ToString(@"hh\:mm")</td>
                    </tr>
                }
                    
              </tbody>  
          </table>  
      </div>
    <div class="m-auto my-4 text-center ">
        <button class="btn btn-large btn-primary" onclick="printContainer()">Print</button>
    </div>
  </div>  
@section Scripts {
    <script src="~/js/print.js"></script>
}